/*fond d'écran placé pour mobile jusqu'à 768px */
body{
    /* position:absolute; */
    background-color:#010101;
    background-image: url(../img/backgroundPages.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*dimension en pixel*/
    background-size: 1218px 812px; 
    /*coordonée fixes */
    background-position: 27% 16vh;
    /* overflow:hidden; */
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color:white;
}

/*suppression des décorations sur les liens */
a{
    text-decoration: none;
    color:white;
}

header a:hover{
    text-decoration: none;
    color: inherit;
}

/*soulignement des span et active*/
.underline{
    color:white;
    border-bottom: solid 2px #00D2FE;
}

.navbar-brand{
    font-weight:bolder;
}

.navbar-dark{
    background-color: rgba(1,1,1,0.8);
}

/*position du bloc header en mobile*/
header{
    position:relative;
    top:25vh;
    transition: ease-in-out 0.3s;
}

h1{
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight:600;
}

h2{
    color:#8a8888;
    font-size:20px;
    font-weight: 500;
    line-height: 1.5;

}

section h2:after{
    content:"";
    width:100px;
    height: 1px;
    display: inline-block;
    background:#00D2FE;
    margin-bottom: 4px;
    margin-left: 10px;

}

h3{
    color:#00D2FE;
}

/*taille et couleur de fonds des icones de lien sociaux*/
#socialLink a{
    font-size:18px;
    border-radius: 50%;
    background: rgba(255,255,255,0.1);
    /*on définit une taille fixe de block pour avoir des logos rond*/
    height:43px;
    width:45px;
}

#socialLink a:hover{
    background: #00D2FE;
    color:white;
}

/*mise en forme des marker de liste dans la description*/
#description li::marker{
    content:">";
    color:#00D2FE;
}

/* paramètrage des background des différentes sections */
.bg-black{
    background-color:rgba(0,0,0,0.8);
    /* backdropfilter pas visible sur mozzila sauf si on active gfx.webrender.all et layout.css.backdrop-filter.enabled*/
    backdrop-filter: blur(6px);
}

.bg-lightblack{
    background-color: rgba(255,255,255,0.1);
    
}

/*couleur pour les icones des compétences*/
.bleu{
    color:#00D2FE;
}

/*Couleur de fond des progress bar*/
.bg-blue{
    background-color:#00D2FE;
}

.bg-grey{
    background-color:#424143;
}

/* couleur des icones d'interet */
.darkBleu{
    color:#0D57FF;
}

.rouge{
    color:#FF4119;
}

.jaune{
    color:#FFD119;
}

.vert{
    color:#0DFF5E;
}

/*Position du bloc main*/
main{
    position:relative;
    top:100vh;
}





/* Mise en forme des lignes de la zone compétence */
#skills li{
    padding-bottom:2%;
    list-style-type: none;
}

/*pour enlever le retrait des li dans les compétences */
#skills ul{
    padding:0;
}
/* rotation à 180° des barres de progress de languages en petit écran */
.rotate{
    transform:rotate(180deg); 
    -ms-transform:rotate(180deg); /* IE 9 */ 
    -moz-transform:rotate(180deg); /* Firefox */ 
    -webkit-transform:rotate(180deg); /* Safari and Chrome */ 
    -o-transform:rotate(180deg); /* Opera */ 
}

/* ajout de padding sur les sections pour passer en dessous de la navbar*/
section{
    padding-top: 50px !important;
}

.invisible{
    visibility: hidden;
    transition:all ease-in 0.2s;

}

.visible{
    visibility:visible;
    transition:all ease-in-out 0.2s;

}

.active{
    color:#00D2FE !important;
}


