/* Début média query pour écran desktop */
@media (min-width: 992px) {

    #cvtitle{
        position: absolute;
        z-index:2;
        margin-bottom: 0;
        padding-right: 20%;

    }

    #photo_triathlon{
        margin-top: 60px;
    }

    #about{
        position: relative;
    }

    #photomoi{
        position:relative;
        z-index:3;
    }

    #textabout{
        margin-top: 20px;

    }

    .point{
        position:absolute;
        top:65px;
        left:320px;
        /* font-size: 10px; */
    }

    #contact{
       position:fixed;
        bottom:0;
        right:0;
    }
    

    
}

/* Fin de la média query pour écran desktop */

main{
    background-color:#dbdbdb;
}


#cvtitle{
    background-color: #484848;
    color:#045a94;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 10px 13px 7px #212020;
    margin-bottom:0;

}

.black{
    background-color: #000000;
}

#photomoi{
 height: 300px;
}

#textabout{
color:#045a94;
}


/* Bloc compétences */

.NotAcquired{
    color: grey;
}

/* bloc expériences */
#xp{
    background-color: #373636 ;
    box-shadow: 0 10px 10px #212020, 0 -10px 10px #212020;

}

#map{
    position:relative;
}

/* .point{
    position:absolute;
    top:35px;
    left:190px;
    font-size: 10px;
} */

#Amiens{
    padding:5px;
    border: 4px solid #045a94;
    border-radius: 10%;
    background: radial-gradient(#045a94, #484848)
}

#contact{
    background-color: #000000;
}
