@media (min-width: 768px) {

    #cvtitle{
        position: absolute;
        z-index:2;
        margin-bottom: 0;
        padding-right: 20%;

    }

    #about{
        position: relative;
    }

    #photomoi{
        position:relative;
        z-index:3;
    }

    #textabout{
        /* margin-top: 50px */

    }
}