/*fond d'écran placé pour mobile*/
body{
    background-color:#010101;
    
    background-image: url(../img/backgroundPages.jpg);
    background-repeat: no-repeat;
    /*dimension en pixel*/
    background-size: 1218px 812px; 
    /* background-size: 324vw; */
    /*coordonée fixes */
    /* background-position: -234px 152px;  */
    background-position: 27% -19%;
}

@media (min-width:768px){
    body{
        background-size:1986px 1324px;
        background-position:24% -2%;
    }
}

@media (min-width: 992px){
    body{
        background-position: 18% 13%;
    }
}

@media (min-width: 1200px){
    body{
        background-position: 30vw -0.03vh;
    }
}