/* positionement tablette portrait entre 768px et 992px*/
body{
    background-size:inherit;
    background-position:24% -2%;
}

/* header{
    left:10vw;
} */

.bg-black{
    /* backdropfilter pas visible sur mozzila sauf si on active gfx.webrender.all et layout.css.backdrop-filter.enabled*/
    backdrop-filter: blur(8px);
}
