/*positionnement tablette paysage entre 992px et 1200px */
body{
    background-position: 18% 13%;
}

/*position du bloc header en tablette portrait*/
header{
    top:15vh;
    right:25vw;
}

.navbar-brand{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

/*couleur des liens de la nav mobile*/ 
/*couleur des liens de la nav*/
nav a, .navbar.navbar-dark .navbar-nav .nav-item .nav-link{
    color:#8a8888;
}

nav ul a:hover, .navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover{
    color:white;
}

/*mise en page de l'element actif*/
.active, .navbar.navbar-dark .navbar-nav .nav-item .nav-link.active{
    color:white;
}

.active:after{
    visibility:visible;
    width:30px;
}

/*barre en dessous des items de la navbar qui se dévoile sur le hover*/
nav ul a::after{
    display:block;
    content: "";
    position: relative;
    height: 2px;
    /* bottom: -4px; */
    /* left: 0; */
    background-color: #00D2FE;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

    
nav ul a:hover:after{
    visibility: visible;
    width:30px;
}




